<div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Your Profile</p>
                <div class="list-group">
                    <a [routerLink]="['/account/profile']" class="list-group-item">Personal Details</a>
                    <a [routerLink]="['/account/addressbook']" class="list-group-item active">Address Book</a>
                    <a [routerLink]="['/account/orderhistory']" class="list-group-item">Order History</a>
                    <a [routerLink]="['/account/profile']" class="list-group-item">Log Out</a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="col-md-9 col-sm-12 col-xs-12 account-content">
                    <h1>ADDRESS BOOK</h1>
    
                    <!-- No Saved Address -->
                    <div *ngIf="!addresses" class="address-edit-container row">
                        You don't have any stored addresses.
                    </div>

                    <!-- Saved Address -->
                    <div *ngIf="addresses" class="address-edit-container row">
                        <div *ngFor="let address of addresses">
                            <div class="col-xs-12 address">
                                <div class="address-details col-xs-12 col-sm-10">
                                <div class="addressee">
                                    {{address.firstName}} {{address.lastName}}
                                </div>
                                <div class="address-details">
                                   {{address.address1}},&nbsp;<br>{{address.city}},&nbsp;{{address.state}}&nbsp;{{address.postalCode}}<br> <p>{{address.phoneNumber}}</p>
                                </div>
                                </div>
                                <div class="address-edit-controls col-xs-12 col-sm-2">
                                <a role="menuitem" (click)="showEditAddressForm(address.id.toString())" aria-label="Edit">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="address-add col-xs-12 col-sm-5 col-md-4">
                     <a role="menuitem" [hidden]="hideAddressButton" (click)= "showAddressForm()" class="button-secondary add-new-address">ADD NEW ADDRESS</a>
                    </div>
                </div>
            </div>
        </div>

        <!--ADD Address Form -->
        <div [hidden]="hideAddressForm">
            <div class="row" id="add_new_address">
                <h2>ADD NEW ADDRESS</h2>
                <div>All fields are required unless marked optional.</div>
                <form (ngSubmit)="addAddress()" #addAddressForm="ngForm">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <label for="first-name">FIRST NAME</label>
                            <input name="first-name" [(ngModel)]="model.firstName" id="first-name" placeholder="First Name" type="text" value="" aria-required="true">
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <label for="last-name">LAST NAME</label>
                            <input name="last-name" [(ngModel)]="model.lastName" id="last-name" placeholder="Last Name" type="text" value="" aria-required="true">
                        </div>
                        <div class="input-wrap has-fancy-labels is-required is-empty col-xs-12 col-md-8 clearfix">
                            <label for="address">ADDRESS BOOK</label>
                            <input name="address" [(ngModel)]="model.address1" id="address" placeholder="Address" type="text" value="" aria-required="true">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                            <label for="bldg">APT / BUILDING (Optional)</label>
                            <input name="bldg" id="bldg" [(ngModel)]="model.address2" placeholder="APT / BUILDING (Optional)" type="text" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                            <label for="city">CITY</label>
                            <input name="city" id="city" [(ngModel)]="model.city" placeholder="CITY" type="text" value="" aria-required="true">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-2">
                            <label for="state" id="state-label">STATE</label>
                            <input name="state" id="state" [(ngModel)]="model.state"  placeholder="STATE" type="text" value="" aria-required="true">
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-2">
                            <label for="zip-code">ZIP CODE</label>
                            <input name="zip-code" id="zip-code" [(ngModel)]="model.postalCode"  placeholder="Zip Code" type="text" value="" aria-required="true">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                            <label for="country">Country</label>
                            <input name="country" id="country" [(ngModel)]="model.country" placeholder="COUNTRY" type="text" value="" aria-required="true">
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                            <label for="phone">PHONE</label>
                            <input maxlength="15" name="phone" id="phone" [(ngModel)]="model.phoneNumber" placeholder="Phone" type="text" class="phone-number-mask" value="" aria-required="true">
                            </div>
                        </div>
                        <div class="row ">
                            <div class="address-add col-xs-12 col-sm-5 col-md-4">
                                <a role="menuitem" (click)= "addAddress()" class="button-secondary add-new-address">ADD ADDRESS</a>
                            </div>
                            <div class="address-add col-xs-12 col-sm-5 col-md-4">
                                <a role="menuitem" (click)= "closeAddressForm()" class="button-secondary add-new-address">CANCEL</a>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>

            <!-- Edit Address Form -->
            <div [hidden]="hideEditAddressForm">
            <div class="row" id="edit_address">
                <h2>EDIT ADDRESS</h2>
                <div>All fields are required unless marked optional.</div>
                <form (ngSubmit)="editAddress()" #editAddressForm="ngForm">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <label for="first-name">FIRST NAME</label>
                            <input name="first-name" [(ngModel)]="editAddressModel.firstName" id="first-name" placeholder="First Name" type="text" value="" aria-required="true">
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <label for="last-name">LAST NAME</label>
                            <input name="last-name" [(ngModel)]="editAddressModel.lastName" id="last-name" placeholder="Last Name" type="text" value="" aria-required="true">
                        </div>
                        <div class="input-wrap has-fancy-labels is-required is-empty col-xs-12 col-md-8 clearfix">
                            <label for="address">ADDRESS BOOK</label>
                            <input name="address" [(ngModel)]="editAddressModel.address1" id="address" placeholder="Address" type="text" value="" aria-required="true">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                            <label for="bldg">APT / BUILDING (Optional)</label>
                            <input name="bldg" id="bldg" [(ngModel)]="editAddressModel.address2" placeholder="APT / BUILDING (Optional)" type="text" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                            <label for="city">CITY</label>
                            <input name="city" id="city" [(ngModel)]="editAddressModel.city" placeholder="CITY" type="text" value="" aria-required="true">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-2">
                            <label for="state" id="state-label">STATE</label>
                            <input name="state" id="state" [(ngModel)]="editAddressModel.state"  placeholder="STATE" type="text" value="" aria-required="true">
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-2">
                            <label for="zip-code">ZIP CODE</label>
                            <input name="zip-code" id="zip-code" [(ngModel)]="editAddressModel.postalCode"  placeholder="Zip Code" type="text" value="" aria-required="true">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                            <label for="country">Country</label>
                            <input name="country" id="country" [(ngModel)]="editAddressModel.country" placeholder="COUNTRY" type="text" value="" aria-required="true">
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                            <label for="phone">PHONE</label>
                            <input maxlength="15" name="phone" id="phone" [(ngModel)]="editAddressModel.phoneNumber" placeholder="Phone" type="text" class="phone-number-mask" value="" aria-required="true">
                            </div>
                        </div>
                        <div class="row ">
                            <div class="address-add col-xs-12 col-sm-5 col-md-4">
                                <a role="menuitem" (click)= "editAddress(editAddressModel.id)" class="button-secondary add-new-address">SAVE ADDRESS</a>
                            </div>
                            <div class="address-add col-xs-12 col-sm-5 col-md-4">
                                <a role="menuitem" (click)= "closeAddressForm()" class="button-secondary add-new-address">CANCEL</a>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
</div>