<header class="col-xs-12 nopadding shippingheader">
      <span class="col-xs-8 nopadding">CUSTOMER INFORMATION </span>
      <span class="col-xs-4 nopadding">
        ORDER SUMMARY
      </span>
    </header>

    <div id="accordion" class="col-md-8" >

        <!--// accordion list-->
        <div class="panel panel-default"  *ngIf="title">
            <div class="panel-titte">
              <div class="card-header" (click)="toggle()">Add Address </div>
              <div  class="card-block" [ngClass]="{hide: opened}" >
               <div class="row">
                <div class="col-md-11"  *ngIf="!globalService.loginStatus">
                  <div class="col-md-12">
                    <h1>Shipping Address</h1>
                    <form (ngSubmit)="submitAddress()" #shipAddForm="ngForm" [hidden] = "formdisplay" [hidden]="hideForm" id="shipAdd">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" [(ngModel)]="model.emailAddress" #email="ngModel" id="email" [ngModelOptions]="{standalone: true}" required>
                      </div>
                      <div class="form-group">
                        <label for="email">firstName</label>
                        <input type="text" class="form-control" id="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngModelOptions]="{standalone: true}"  required>
                      </div>
                      <div class="form-group">
                        <label for="email">lastName</label>
                        <input type="text" class="form-control" id="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngModelOptions]="{standalone: true}"  required>
                      </div>
                      <div class="form-group">
                        <label for="address1">Apartment/Street</label>
                        <input type="text" class="form-control" id="address1" [(ngModel)]="model.address1" #address1="ngModel" [ngModelOptions]="{standalone: true}"  required>
                      </div>
                      <div class="form-group">
                        <label for="address2">Area</label>
                        <input type="text" class="form-control" id="address2" [(ngModel)]="model.address2" #address2="ngModel" [ngModelOptions]="{standalone: true}"  required>
                      </div>
                      <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" [(ngModel)]="model.city" #city="ngModel" [ngModelOptions]="{standalone: true}"  required>
                      </div>
                      <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" [(ngModel)]="model.state" #state="ngModel"  [ngModelOptions]="{standalone: true}"  required>
                      </div>
                      <div class="form-group">
                        <label for="postalCode">PostalCode</label>
                        <input type="text" class="form-control" id="postalCode" [(ngModel)]="model.zipcode" #postalCode="ngModel" [ngModelOptions]="{standalone: true}"  required>
                      </div>
                      <div class="form-group">
                        <label for="phoneNumber">PhoneNumber</label>
                        <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" [ngModelOptions]="{standalone: true}"   required>
                      </div>
                      <button type="submit" class="btn btn-success" [disabled]="!shipAddForm.form.valid" >Submit</button>
                    </form>
                    <div [hidden] = "!formdisplay">
                          {{address.firstName}}
                        {{address.lastName}}
                        {{address.address1}}
                        {{address.address2}}
                        {{address.address3}}
                        {{address.city}}
                          {{address.state}}
                      <!--<button (click)="showPayment()"> OK </button>-->
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-md-8 listAddress"  *ngIf="globalService.loginStatus">
                    <label *ngFor="let address of addressess">
                      <input type="radio" name="options" value="{{address.addressId}}" [ngModel]="address.addressId" (click)="getOpitons = address.addressId">
                      <div class="address">
                        <p>  {{address.firstName}},   {{address.lastName}}</p>
                        <p>{{address.address1}}, {{address.address2}}</p>
                        <p>{{address.state}}, {{address.city}}</p>
                        </div>
                       
                  </label>
                    <button (click)="showPayment(getOpitons)" class="btn-success"> OK </button>
                  </div>
                  
                  <!--<div  *ngIf="globalService.firstName">
                      <div>{{globalService.user.firstName}}</div>
                      <div>{{globalService.user.lastName}}</div>
                      <button (show2)="triggerToggle($event)">OK</button>
                  </div>-->
                </div>
                  
              </div>
            </div>
        </div>
     
         <div class="panel panel-default"  *ngIf="title">
            <div class="panel-titte" >
              <div class="card-header" >Make Payment </div>
                <div  class="card-block" [hidden]="payment">
                  <div class="container">
                    <form id="payuform"  name="payuform" method=POST  action="">
                            <input type="submit" value="Submit"  class="btn btn-success" (click)="gotoPayment()" />
                     </form>
                  </div>
                </div>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="checkout-order-container">
            <div *ngFor="let item of globalService.cartItems" class="singleitem">
              <div class="each row">
              <div class="col-md-4"><img class="image" src="/src/images/products/{{item.productId}}_t.jpg"></div>
              <div class="col-md-8">
                 <h3>{{item.productTitle}} </h3>
            
                <!--SKU Id: {{item.catalogRefId}}-->
                <p>quantity: {{item.quantity}}</p>
                <p> Store: {{item.productBrand}}</p>
              
                ₹: {{item.amount}}
              </div>
             
              </div>
          </div>
         <b>Order Total ₹ {{globalService.getTotal}}</b>
         
         </div>
      </div>