<div id="myModal" class="resultLoading" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="onClickedExit()">&times;</button>
        
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
       <div>
		<div class="wrapper">
			<form  action="" method="post" name="Login_Form" class="form-signin" (submit)="login($event, username.value, password.value)">       
			    <h3 class="form-signin-heading">Welcome !</h3>
				  <hr class="colorgraph"><br>
				  <input type="text" class="form-control"   name="Username"  placeholder="Username" #username />
				 
				  <input type="password"  class="form-control" name="Password"  placeholder="Password" #password />     		  
				 
				  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" >Login</button>

			</form>	


		</div>
	</div>

      </div>
      
    </div>

  </div>
</div>
