<section id="cart" class="side-menu right transition {{1+3}}" [class.open]="globalService.closeCartModel" >
  <div class="header">

        <h4>Your Cart</h4>
        <div class="back cart-menu-toggle" (click)="closeCart()"> 
            close
        </div>
    </div>
    <div *ngFor="let  item of  globalService.cartItems; let i = index" class="row cartitem" id="{{item.productId}}"> 
    
        <div class="col-md-4"><img src="/src/images/products/{{item.productId}}_t.jpg"></div>
        <div class="col-md-8">
            <div class="close" (click) = "removeProduct(item.catalogRefId, item.productId)">×</div>
            <h4>{{item.productTitle}}</h4>
            <div class="cart-details">
                <select (change)="onChange(item.catalogRefId ,  $event.target.value, item.productId)" >
                    <option *ngFor="let option of options" [selected]="option == item.quantity" >{{ option }}  </option>
                </select> 
            
            ₹ {{item.amount}}
            </div>
        </div>
        
    </div>
    <div *ngIf="globalService.getTotal == 0" class="sw-empty-cart">

	  <div class="cartempty">
            Your cart is empty.
        </div>
        <button [routerLink]="['']" class="buttom-animate" (click)="closeCart()" >Continue Shopping</button>
       
    </div> 
    <div *ngIf="globalService.getTotal  != 0" class="cartsubtotal">
    <div class="total"   >
            <label>SUBTOTAL</label>
            ₹ {{globalService.getTotal}}
    </div>
    <button [routerLink]="['checkout/shipping']" >
         
            Proceed to Checkout    
    </button>
    </div>

</section>

<div class="overlay" id="overlay"></div>
<div [hidden]="!globalService.isDelayedRunning" class="spinner">  
    <div id="resultLoading" style="width: 100%; height: 100%; position: fixed; z-index: 10000000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;"><div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div><div class="bounce3"></div></div><div class="bg" style="background: rgba(0, 0, 0, 0.498039); width: 100%; height: 100%; position: absolute; top: 0px; opacity: 0.5;"></div></div>
</div>  
