.addcart{
    background-color: #ff8459;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.3);
    -webkit-transition: all .2s cubic-bezier(.15,.69,.83,.67);
    transition: all .2s cubic-bezier(.15,.69,.83,.67);
    height: 30px;
    border: none;
    font-size: 16px;
    color: #fff;
    border-radius: 2px;
    font-weight: 600;
    margin-bottom: 19px;
    margin-left: 9px;
    padding: 5px 10px;
}
.addcart:hover {
    background-color: #ff8459;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.3);
    -webkit-transition: all .2s cubic-bezier(.15,.69,.83,.67);
    transition: all .2s cubic-bezier(.15,.69,.83,.67);
}
article.list {
    min-height: 376px;
}