<div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Your Profile</p>
                <div class="list-group">
                    <a [routerLink]="['account/profile']" class="list-group-item">Personal Details</a>
                    <a [routerLink]="['account/addressbook']" class="list-group-item">Address Book</a>
                    <a [routerLink]="['account/orderhistory']" class="list-group-item active">Order History</a>
                    <a [routerLink]="['account/profile']" class="list-group-item">Log Out</a>
                </div>
            </div>

            <div class="col-md-9">
                <p>
                    orderhistory works!
                    {{orders}}
                </p>
            </div>
        </div>
</div>