<div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Your Profile</p>
                <div class="list-group">
                    <a [routerLink]="['/account/profile']" class="list-group-item">Personal Details</a>
                    <a [routerLink]="['/account/addressbook']" class="list-group-item">Address Book</a>
                    <a [routerLink]="['/account/orderhistory']" class="list-group-item active">Order History</a>
                    <a (click)="signout()" class="list-group-item">Log Out</a>
                </div>
            </div>

            <div class="col-md-9">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <h1>
                            ORDER HISTORY
                        </h1>
                        <p *ngIf="!orders">Orders Not Available</p>
                        <div *ngFor="let order of orders" class="row">
                            <div class="col-labels hidden-xs hidden-sm">
                                <div class="col-md-3">
                                    <div class="col-label">
                                    Date Placed: 
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-label">
                                    ORDER NUMBER
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-label">
                                    STATUS
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="col-label">&nbsp;</div>
                                </div>
                            </div>
                            <div class="order-row">
                                <div class="order-col col-xs-6 col-md-3">
                                    <div class="col-label visible-xs visible-sm">
                                    Date Placed: 
                                    </div>
                                    <div class="values">
                                    <div>
                                        {{order.submittedDate}}
                                    </div>
                                    </div>
                                </div>
                                <div class="order-col col-xs-6 col-md-3">
                                    <div class="col-label visible-xs visible-sm">
                                    ORDER NUMBER
                                    </div>
                                    <div class="values">
                                    {{order.orderId}}
                                    </div>
                                </div>
                                <div class="order-col col-xs-6 col-md-3">
                                    <div class="col-label visible-xs visible-sm">
                                    STATUS
                                    </div>
                                    <div class="values">
                                    {{order.state}}
                                    </div>
                                </div>
                                <div class="order-col col-xs-12 col-md-2">
                                    <a role="menuitem" [routerLink]="['/account/orderdetail', order.orderId]" title="view order details">View details</a>
                                </div>
                            </div>
                        </div>
                        </div>
            </div>
        </div>
</div>